/* This is fairly straightforward since it is only going to be viewed on Chrome */

body ~ * {
    display: inline-block;
}

body {
    padding: 1em;
    background: black;
    color: white;
}

h1 {
    font-size: 2.2rem;
}

main {
    background: #181818;
    padding: .5rem;
}

div {
    font-size: 1.5rem;
    margin: 1rem;
    display: block;
}


label {
    font-size: 1rem;
}

br {
    margin: 0.75rem;
}
button {
    margin: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    padding: .3rem 1.5rem;
    border-radius: .1rem;
    background: lightgrey;
}

p {
    margin: 1rem;
    font-size: 1rem;
}
